<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>Mesocycle Tracker</li>
        <% if(user) { %>
          <li><a href="/">Home</a></li>
          <li><a href="/users/<%= user._id %>">You</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/">Home</a></li>
          <li><a href="/auth/google">Login</a></li>
        <% } %>
      </ul>
    </nav>
  </header>