<%- include('../partials/header') %>

<h1>Your Mesocycles</h1>
<a href="/users/<%= user._id %>/mesocycles/new">Add</a><br>
<% user.mesocycles.forEach((m) => { %>
  <h3>Mesocycle</h3>
  <ul class="mesocyle-index">
    <li><%= m.attribute %></li>
  </ul>
<% }) %>

<%- include('../partials/footer') %>
