<%- include('../partials/header') %>

<h1>Your Mesocycles</h1>
<a href="/users/<%= user._id %>/mesocycles/new">Add</a>
<% userModel.mesocycles.forEach((m) => { %>
  <ul>
    <li><%= m.attribute %></li>
  </ul>
<% }) %>

<%- include('../partials/footer') %>
