<%- include('../partials/header.ejs') %>

<h1>Add a Mesocycle</h1>
<form action="/users/<%= user._id %>/mesocycles" method="POST">
  <label>Attribute</label>
  <input type="text" name="attribute">
  <label>Length (Weeks)</label>
  <input type="number" name="length">
  <input type="date" name="startDate">
  <button>Add</button>
</form>

<%- include('../partials/footer.ejs') %>
