<%- include('../partials/header.ejs') %>

<h1>Add a Mesocycle</h1>
<a href="/mesocycles">Back</a><hr>
<form action="/mesocycles" method="POST">
  <label>Attribute</label>
  <input type="text" name="attribute" required>
  <label>Length (Weeks)</label>
  <input type="number" name="length" required>
  <input type="date" name="startDate" required>
  <button>Add</button>
</form>

<%- include('../partials/footer.ejs') %>
