<%- include('../partials/header') %>

<h1>Mesocycle</h1>
<a href="/mesocycles">Back</a><hr>
<h3>Training: <%= mesocycle.attribute %></h3>
<ul>
  <li>Started on <%= mesocycle.startDate %></li>
</ul>

<%- include('../partials/footer') %>