@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #a6f7ee;
  height: 70px;
}

nav {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}