@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  background-color: #172021;
  color: white;
} 

#nav-links > li, a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a:hover{
  text-decoration: underline;
}

#avatar {
  border: solid;
  border-radius: 50%;
  width: 100px;
}

#header-avatar {
  border: solid;
  border-radius: 50%;
  width: 50px;
}