@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: lightcoral;
  color: white;
}

nav > h2 {
  display: flex;
  flex-direction: row;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-link {
  padding: 0px 5px 3px 0;
}

.nav-link:hover {
  color: gray;
}