<%- include('../partials/header') %>

<h1>Add Sessions</h1>
<a href="/users/<%= user._id %>/mesocycles/:mid/sessions">Back</a><hr>
<form action="" method="POST">
  <textarea name="description">

  </textarea>
  <input type="date" name="startDate">
  <button>Add</button>
</form>

<%- include('../partials/footer') %>